<div class="row">

  <div class="span2">
    <%= render partial: 'votes/vote', locals: { vote_up_path: vote_post_comment_path( { post_id: comment.post.id, id: comment.id, vote: 1 } ),
                                                vote_down_path: vote_post_comment_path( { post_id: comment.post.id, id: comment.id, vote: -1 } ),
                                                obj: comment
                                              } %>
  </div>

  <div class="span8">
    <h5><%= link_to comment.post.title, post_path(comment.post) if display_post %></h5>
    <p><%= comment.body %></p>
    <%= render 'shared/creator_details', obj: comment %>
  </div>
  
</div>

