<div class="row">
  <div class="span6">
    <h4>Edit Post</h4>
  </div>
</div>

<%= render 'form' %>

<hr>

<div class="row">
  <div class="span12">
    <small><%= link_to 'Back to All Posts', posts_path %></small>
  </div>
</div>