<%= render 'shared/content_title', title: 'Edit Post' %>
<%= render 'form' %>

<hr>

<div class="row">
  <div class="span12">
    <small><%= link_to 'Back to All Posts', posts_path %></small>
  </div>
</div>