<p>
  <%= render @post.categories %>
</p>

<%= render 'shared/content_title', title: @post.title %>

<p><strong>URL: </strong><%= @post.url %></p>
<p><strong>Description: </strong><%= @post.description %></p>

<hr/>