/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @import "bootstrap";

 .container {
  margin-left: 135px;
  margin-right: 135px;
}

.navbar .nav > li > a.brand {
  padding-left: 0px;
}

.quiet {
  color: #ababab;
}

div.nav_item {
  margin-left: 25px;
  float: left;
}

.label, .badge {
  a, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
  }
}

div.comment_votes {
  padding: 10px;
}

div.vote-panel {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  text-align: center;
  position: relative;
  background-color: white;
}

p.vote-score-text {
  font-size: 14px;
  font-weight: bold;
  text-align:center;
  margin: 10px 0 0 0;
  padding: 0;
}

div.vote-arrow-up {
  position: absolute;
  float: left;
  top: 66px;
  right: 16px;
}

div.vote-arrow-down {
  position: absolute;
  float: left;
  top: 66px;
  left: -12px;
}

div.vote-score {
  position: absolute;
  float: left;
  left: 50px;
  top: 60px;
  height: 30px;
  width: 20px;
  margin: 0;
  padding: 0;
  display: inline-block;

  h3 {
    line-height: 0px;
  }
}


a.vote-arrow:hover, i.vote-arrow:hover {
  text-decoration: none;
}

.vote-score-positive {
  color: #27ae60;
}

.vote-score-neutral {
  color: #7f8c8d;
}

.vote-score-negative {
  color: #e74c3c;
}

i.vote-arrow {
  margin: -5px 0 0 33px;
  padding: 0;
}

